@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
header.navbar-inverse{
  background-image: linear-gradient(#f4c14e, #d36950);
  color: black;

  .navbar-nav{
    li{
      a{
        color: black;
      }
    }
  }
}

body{
  padding: 60px 0px;
  background-color: #f5f5f5;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

input[type="file"] {
  background-color: white;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* portfolios */
.portfolios {
  background-color: white;
  list-style: none;
  padding: 15px;
  margin-top: 25px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* 共通 */
.requiredform:after{
  color: #E00;
  content: " *";
}

.mini_icon{
  img{
    border-radius: 50%;
  }
}

.gravatar{
  border-radius: 50%;
}

/* home */
.home-wrapper{
  .row{
    text-align: center;
  }

  .sort-form{
    margin-top:10px;
    line-height: 25px;
    border-top: solid 1px #bbb;
  }

  a{
    color: black;
  }

  .col-md-2{
    position: sticky;
    top: 60px;
  }
}

#scroll_top{
  position: sticky;
  right: 10px;
  bottom: 80px;
  text-align: right;
  font-size: 7em;
  color:#ffba3a;
}

.btn.btn-default{
  padding: 3px 10px;
}

#keyword{
  padding: 3px;
  margin-bottom: inherit;
}

.home-portfolio_list{
  padding-top: 13px;
  padding-bottom: 20px;
  border: solid 1px #bbb;
  text-align: center;
  margin-bottom: 30px;
  background-color: white;

  .home-portfolio_likes_count_wrapper{
    border-top: solid 1px #bbb;
  }

  .home-portfolio_likes_count{
    position: absolute; bottom:18px; right: 30px;
  }

  .home-portfolio_name{
    line-height: 36px;
  }

  .home-portfolio_user_name{
    text-align: right;
    margin: 0px;
    position: absolute; bottom: 55px; left: 65px;
  }

  .home-portfolio_user_content{
    padding: 0px 15px 35px 15px;
    height: 80px;
  }

  .home-portfolio_user_icon{
    position: absolute; bottom: 55px; left: 30px;
  }
}

/* draft */
.draft-wrapper{
  text-align: center;

  .draft_list{
    padding-top: 13px;
    padding-bottom: 20px;
    border: solid 1px #bbb;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
  }

  .draft_list_name{
    line-height: 36px;
  }

  .draft_list_user_content{
    padding: 0px 30px;
    height: 40px;
  }
}

/* user_show */
.user_information{
  padding: 10px;
  margin-top: 24px;
  text-align: center;
  background-color: white;

  a{
    color:black;
    padding: 5px;

  }

  text{
    padding: 10px 0px;
  }

  .follow_follower{
    padding: 10px 0px;
  }

  input[type="submit"]{
    margin: 5px 0px;
  }
}

.portfolio_image{
  display: inline-block;
}

.portfolio_wrapper{
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 1fr;
  grid-template-columns: 100px 100px 1fr;

  img{
    grid-row: 1 / 3;
    grid-column: 1 / 6;
  }

  .omit_name{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    line-height: 3em;
    padding-left: 5px;
  }

  .omit_period{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    line-height: 3em;
    padding-left: 5px;
  }

  .omit_content{
    grid-row: 3 / 6;
    grid-column: 3 / 4;
    margin: 0px;
    padding-left: 5px;
    overflow-wrap: anywhere;
  }
}

/* portfolio_show */
.side_menu{
  text-align: right;
  padding-top: 20px;

  .fa-heart:before{
    font-size: 2em;
  }

  .fa-heart-o:before{
    font-size: 2em;
  }

  .fa-twitter:before{
    font-size: 2em;
  }
}

.main_content{
  padding: 20px;
  margin: 20px 0px; 
  text-align: center;
  background-color: white;
  border: solid 1px #bbb;

  a{
    color: black;
  }

  .mini_icon{
    padding: 5px 0px;
    display: inline;
    width: 50%;
    float: left;
    text-align: left;
  }

  .edit_delete_menu{
    display: inline;
    width: 50%;
    height: 40px;
    float: right;
    text-align: right;
    padding:10px 0px;
  }

  .portfolio_content_wrapper{
    text-align: left;
    overflow-wrap: break-word;
    padding-top: 20px;

    .portfolio_content{
      padding-top: 10px;
    }
  }
}

.comment_list_wrapper{
  border: solid 1px #bbb;
  background-color: white;
  
  a{
    color: black;
  }
  h2{
    color: black;
    border-bottom: solid 1px #bbb;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }

  .comment_none{
    text-align: center;
    padding: 30px 0px;
  }
}

.comment_list{
  border-bottom: solid 1px #bbb;
  background-color: white;
  text-align: left;
  display: grid;
  grid-template-rows: 40px 100px 1fr;
  grid-template-columns: 50px 100px 1fr;

  .mini_icon{
    width:inherit;
    padding: 10px 0px 0px 20px;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
  }

  .comment_list_name{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    text-align: left;
    padding: 15px 0px 0px 5px;
  }

  .comment_list_body{
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    padding-left: 5px;
  }

  .comment_list_delete{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    text-align: right;
    padding: 10px;
  }
}

.comment_list:last-child{
  border-bottom: none;
}

.comment_form{
  border: solid 1px #bbb;
  background-color: white;
  margin-top: 20px;
  padding: 20px;

  .mini_icon{
    width:inherit;
    padding-bottom: 5px;
  }

  textarea{
    margin:0px
  }

  input[type="submit"]{
    width: 10%;
  }

  .comment_form_sub{
    text-align: right;
  }
}

/* follow_follower*/
.follow_follower_list{
  padding: 5px;
  margin: 10px;
  display: flex;
  background-color: white;

  a{
    color: black;
  }

  .follow_follower_profile{
    margin: 0px;
  }
}
